@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

body {
  @apply bg-lightBg text-lightText dark:bg-darkBg dark:text-darkText transition-colors duration-300 ease-in-out;
}

.title {
  @apply font-bold text-[28px];
}

.mainContainer {
  @apply max-w-7xl mx-auto;
}

.rp {
  @apply px-4 md:px-8;
}

.cr_input {
  @apply h-[40px] bg-lightBg text-lightText dark:bg-darkElement dark:text-darkText whitespace-nowrap px-4 shadow-3xl rounded-sm;
}

/* Animation dropdown */
.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.3s ease;
}
.dropdown-enter {
  transform: translateY(-10px);
  opacity: 0;
}
.dropdown-enter-to {
  transform: translateY(0);
  opacity: 1;
}
.dropdown-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
